<p>Consutas</p>
<div class="btn-group-vertical mb-2" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary mb-2" [routerLink]="['/querie1']">Buscar docente</button>
    <button type="button" class="btn btn-primary mb-2" [routerLink]="['/querie2']">Buscar estudiante</button>
    <button type="button" class="btn btn-primary mb-2" [routerLink]="['/querie3']">Buscar estudiante por Patron</button>
    <button type="button" class="btn btn-primary mb-2" [routerLink]="['/querie4']">Verificar email estudiante</button>
    <button type="button" class="btn btn-primary mb-2">Buscar estudiantes por id</button>
    <button type="button" class="btn btn-primary mb-2" [routerLink]="['/querie6']">Buscar asignatura por nombre</button>
</div>
