<div class="row">
  <div class="col-6">
    <app-queries></app-queries>
  </div>
  <div class="col-6">
    <div>
      <label for="numIdentificacion">Numero de identificación</label>
      <input
        type="text"
        class="form-control mb-2"
        placeholder="Num Identificación"
        [(ngModel)]="numIdentificacion"
      />
      <label for="tipoIdentificacion">Tipo de identificación</label>
      <input
        type="text"
        class="form-control mb-2"
        placeholder="Tipo Identificación"
        [(ngModel)]="tipoIdentificacion"
      />
      <button
        type="button"
        class="btn btn-primary mb-2"
        (click)="buscarEstudianteNumTipo()"
      >
        Buscar estudiante
      </button>
    </div>
  </div>
</div>

<p-dialog header="Estudiante" [(visible)]="showEstudiantes">
  <tbody>
    <tr>
      <td>
        <label>Identificacion: </label>
      </td>
      <td>
        <label>{{estudiante.noId}}</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Tipo identificacion: </label>        
      </td>
      <td>
        <label>{{estudiante.tipoIdentificacion}}</label>    
      </td>
    </tr>
    
    <tr>
      <td>
        <label>Fecha ingreso: </label>
      </td>
      <td>
        <label>{{estudiante.fechaIngreso}}</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Apellidos: </label>
      </td>
      <td>
        <label>{{estudiante.apellidos}}</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Correo: </label>
      </td>
      <td>
        <label>{{estudiante.correoElectronico}}</label>
      </td>
    </tr>
  </tbody>
</p-dialog>